* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  /* font-family: monospace, cursive; */
  color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./assets/background.jpeg);
  position: relative;
}

.container {
  position: absolute;
  width: 350px;
  height: 500px;
  border: 1px solid none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/cal_background.png);
  background-size: 100px;
}

.carculator_display {
  background-color: beige;
  border-radius: 10px;
  width: 310px;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  border: 3px solid rgb(147, 72, 72);
}

.carculator_body {
  background-color: beige;
  border-radius: 10px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 3px solid rgb(147, 72, 72);
}

button {
  width: 60px;
  height: 55px;
  border-radius: 10px;
  background-color: #955a30;
  font-size: 16px;
  color: white;
  font-family: "Caveat", cursive;
  font-family: "Fasthand", cursive;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.first_hang {
  align-items: flex-end;
}

.hang {
  margin-left: 7px;
  padding: 3px;
}

button:hover {
  background-color: rgb(238, 84, 84);
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

.display_head {
  font-family: "Fasthand", cursive;
  font-size: 30px;
  color: rgb(119, 66, 28);
  margin-left: 95px;
}

.right_button {
  width: 93px;
  background-color: rgb(82, 58, 47);
  font-family: "Caveat", cursive;
  font-family: "Fasthand", cursive;
  font-family: "Trispace", sans-serif;
  font-size: 20px;
}

.on_off {
  font-size: 13px;
}

.top_button {
  background-color: rgb(82, 58, 47);
  font-family: "Caveat", cursive;
  font-family: "Fasthand", cursive;
  font-family: "Trispace", sans-serif;
  font-size: 13px;
}

.display_num {
  color: #321414;
  font-size: 25px;
}

.shadow {
  box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}

/**
 * ===========================
 * @class : btn-2
 * ===========================
 */
.btn-2 {
  /* background: #e3403a; */
  /* border: 1px solid #da251f; */
  box-shadow: 0 2px 0 #d6251f, 2px 4px 6px #e02a24;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn-2:hover {
  /* background: #e02c26; */
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  /* color: #ec817d; */
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  text-shadow: -1px -1px 0 #c2211c;
}
