@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: 100vh; */
  /* justify-content: center; */
}

.main-menu {
  display: flex;
  justify-content: center;
}

.top-menu {
  padding: 0px 62px 0px 82px;
  background-color: #ffd5bd;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  width: 50px;
  height: 37.5px;
  /* margin: 16.38px 0px 13px 60px; */
}

.sign-up {
  font-size: 20px;
  font-weight: 700px;
  color: #777777;
}

.reservation {
  color: #f24e1e;
  font-size: 20px;
  font-weight: 700;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.user-name {
  font-weight: 700;
  font-size: 30px;
  margin-right: 140px;
  vertical-align: middle;
  /* margin-left: 20px; */
  margin-bottom: 21px;
}

.user-profile {
  display: flex;
  position: relative;
  width: 120px;
  height: 120px;
}

.date_of_birth {
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 56px;
}

.res-info {
  font-size: 30px;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 21px;
  position: relative;
  z-index: -1;
}

.res-info-background {
  position: absolute;
  z-index: -2;
  top: -22px;
  left: -30px;
}

.res-box {
  position: relative;
  display: flex;
  background-color: #fffbf5;
  height: 480px;
  width: 1055px;
  border-radius: 13px;
  border: 2px solid #ff7626;
  margin-top: 21px;
  margin-bottom: 150px;
  /* flex-direction: column; */
}

.shop-img {
  width: 216px;
  height: 210px;
  margin-top: 51px;
  margin-left: 78px;
  margin-bottom: 219px;
}

.shop-img2 {
  width: 216px;
  height: 169px;
  /* margin-top: 46px; */
  margin-left: 55px;
}

.information {
  margin-left: 40px;
  margin-top: 44px;
}

.phone-number {
  border-bottom: 1px solid #959595;
  border-top: 1px solid #959595;
}

.phone-number1 {
  padding-top: 26px;
  padding-bottom: 26px;
}

.phone-number2 {
  border-top: 1px solid #959595;
  padding-top: 26px;
  padding-bottom: 26px;
}

.left-side-bar,
.right-side-bar {
  display: flex;
  flex-direction: column;
}

.res-group {
  display: flex;
  flex-direction: column;
}

.left-side-bar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 80px;
  margin-right: 40px;
  margin-left: 75px;
}

.right-side-bar {
  margin-top: 0px;
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.shop-name {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
}

.res-list {
  font-size: 23px;
  font-weight: 600;
}

.res-name,
.res-phone-number,
.res-personnel {
  margin-bottom: 17px;
}

.res-btn {
  position: absolute;
  bottom: 55px;
  right: 50px;
  font-size: 23px;
  font-weight: 400;
}

.res-change {
  color: #f87c34;
  padding-right: 23px;
  border-right: solid 1px #828282;
}

.res-delete {
  padding-left: 23px;
}

/* 예약일시  */
.res-day {
  position: absolute;
  right: 40px;
  top: 48px;
  font-size: 18px;
  font-weight: 400;
  color: #828282;
}

.icon {
  margin-right: 26px;
  width: 20px;
  display: inline-block;
}

.chat_bot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 1550px;
  margin-bottom: 50px;
  cursor: pointer;
  /* margin-top: 300px; */
}

.chat_bot_background {
  position: relative;
  width: 87px;
  height: 87px;
  align-items: center;
}

.chat_bot_icon {
  position: absolute;
  align-items: center;
}

.res-list span {
  font-weight: 400;
  padding-left: 30px;
}

.reservation a {
  padding: 60px;
  color: #444444;
  cursor: pointer;
}

a.res-info_btn {
  color: #f24e1e;
}

.right-side-bar2 {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.history {
  display: flex;
  flex-direction: column;
}

.list1,
.list2,
.list3 {
  display: flex;
  width: 1055px;
  height: 200px;
  margin-left: 67px;
  padding-bottom: 73px;
  padding-top: 35px;
  cursor: pointer;
}

/* .list1,
.list2 {
  border-bottom: 1px solid #959595;
} */

.shop {
  margin-right: 161px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.res-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.people {
  margin-right: 237px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.res-menu-history {
  margin-right: 68px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

.res-box-visit-history {
  display: flex;
  background-color: #fffbf5;
  height: 480px;
  width: 1055px;
  border-radius: 13px;
  border: 2px solid #ff7626;
  margin-top: 21px;
  margin-bottom: 150px;
  flex-direction: column;
}

.border-line-img {
  width: 998px;
  margin-left: 30px;
  margin-right: 27px;
}

footer {
  width: 100vw;
  height: 137px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

footer span {
  display: flex;
  flex-direction: column;
}

.footer-left-top,
.footer-right-top {
  padding-bottom: 10px;
}

header {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 34px;
  margin-right: 348px;
  display: inline-block;
}

.review-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.star {
  display: inline-block;
  margin: 16px 618px 25.6px 34px;
  width: 150px;
}

.review {
  display: flex;
  margin-left: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.review-btn {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* margin-bottom: 31px; */
  margin-left: 536px;
  margin-right: 59px;
}

.change {
  color: #f87c34;
  padding-right: 20px;
  border-right: #444444 solid 1px;
}

.delete {
  padding-left: 20px;
}

.border-line {
  width: 979px;
  margin-top: 36px;
  position: absolute;
  right: 36px;
}

.rev1 {
  display: flex;
  height: 250px;
  margin-top: 60px;
}

.rev2 {
  display: flex;
  height: 250px;
}

.res-box-review {
  position: relative;
  display: flex;
  background-color: #fffbf5;
  height: 604px;
  width: 1055px;
  border-radius: 13px;
  border: 2px solid #ff7626;
  margin-top: 21px;
  margin-bottom: 70px;
  flex-direction: column;
}

.footer-line {
  margin-left: 24px;
  margin-right: 24px;
}
