body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#product {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  place-items: center;
}

#order-list-container {
  width: 500px;
  background-color: rgb(237, 149, 168);
  height: 100%;
  /* overflow: auto; */
  position: fixed;
  right: 0px;
}

.main {
  display: flex;
  height: 100%;
}

.menu {
  background-color: rgb(72, 72, 215);
}

.logo {
  width: 60px;
}

.product-image {
  margin-bottom: 10px;
}

.product-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
